body {
    font-family: 'Inter', sans-serif;
    background-color: #F0EFF2;
    color: #343a40;
    margin: 0;
    padding: 0;
}

.container {
    background: #F0EFF2;
    margin: 0 auto;
    max-width: 1540px;
    padding: 50px;
    padding-top: 50px;
    min-height: 100vh;
    box-sizing: border-box;
    margin-top: 65px;
}

.card {
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0 auto;
    max-width: 100vh;
}

.card-header {
    background: transparent;
    border: none;
    padding: 0 0 0 10px;

    display: inline-block;

    border-left: 7px solid #000;

    text-align: left;
    margin: 0;
    margin-bottom: 50px;
}

.card-header h4 {
    font-size: 28px;
    font-weight: bold;
    color: #000;
    margin: 0;
}

.card-body {
    padding: 0;
}

.table {
    background: #FFF;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 0;
    width: 100%;
    color: #737373;
}

.table thead tr {
    border-bottom: 3px solid #E1E1E1;
}

.table thead th {
    padding: 15px 70px;
    background-color: transparent;
    color: #737373;
    font-weight: bold;
    text-align: left;
    border-bottom: none;
}

.table thead th:last-child {
    text-align: center;
    padding-right: 70px;
    padding-left: 10px;
}

.table tbody tr:not(:last-child) {
    border-bottom: 2px solid #E1E1E1;
}

.table tbody td {
    padding: 10px;
    font-weight: 600;
    text-align: left;
    border-bottom: none;
}

.table tbody tr td:nth-child(1),
.table tbody tr td:nth-child(2) {
    padding-left: 70px;
}

.table tbody tr td:nth-child(3) {
    text-align: center;
    padding-right: 70px;
    padding-left: 10px;
}

.btn-info {
    background-color: transparent;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    border: none;
    padding: 0;
    display: inline;
    font-size: 1rem;
    line-height: inherit;
    border-radius: 0;
}

.btn-info:hover {
    color: #000;
    opacity: 0.8;
    background-color: transparent;
}