.container {
    max-width: 1540px;
    margin: 0 auto;
    padding: 50px;
    padding-top: 50px;
    background: #F0EFF2;
    min-height: 100vh;
}

.page-title {
    text-align: left;
    font-size: 28px;
    margin: 0 auto 45px;
    max-width: 100vh;
    color: #000;
    border-left: 7px solid #000;
    padding-left: 5px;
    font-weight: bold;
}

.tab-buttons {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 100vh;
}

.tab-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    color: #737373;
    padding: 10px 0;

    margin-right: 70px;
    margin-left: 50px;
}

.tab-button.active {
    color: #000;
    font-weight: bold;
    border-bottom: none;
}

.tab-content {
    display: none;
    border-top: 1px solid #000;
    margin-top: 15px;
    margin: 15px auto 0;
    max-width: 100vh;
}

.tab-content.active {
    display: block;
}

.application-table {
    margin: 40px auto 20px;
    max-width: 100%;

    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    border-collapse: collapse;
}

.application-table th,
.application-table td {
    padding: 10px 15px;
    text-align: center;
    border-bottom: 1px solid #E1E1E1;
    color: #737373;
}

.application-table th {
    background-color: #fff;
    font-weight: bold;
    color: #737373;
    border-bottom: 3px solid #E1E1E1;
}

.application-table td {
    font-weight: bold;
    color: #000;
}

.application-table tbody tr:nth-child(even) {
    background-color: #fff;
}

.application-table tbody tr:hover {
    background-color: #fff;
}

.application-table tr:not(:last-child) td {
    border-bottom: 2px solid #E1E1E1;
}

.action-button.detail-button {
    background-color: transparent;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    padding: 0;
}

.action-button.detail-button:hover {
    background-color: transparent;
}