.attendance-container {
    background: #F0EFF2;
    height: 100vh;
    margin: 0 auto;
    max-width: 1540px;
    padding: 50px;
    padding-top: 150px;
    text-align: center;
    box-sizing: border-box;
}

.status-display {
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}

.status-display .status-text {
    background: #C8C8C8;
    border-radius: 50px;
    color: #696969;
    display: inline-block;
    letter-spacing: 0.2em;
    padding: 5px 20px;
    font-size: 1.2em;
    font-weight: bold;
}

.current-time {
    font-weight: normal;
    margin-bottom: 30px;
    color: #000;
    text-align: center;
}

#current-date {
    font-size: 28px;
    margin-bottom: 15px;
}

#current-time {
    font-size: 48px;
    font-weight: bold;
    margin-top: 0;
}

.punch-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.button {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    width: 130px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button.primary,
.button.danger {
    background-color: #000;
    color: white;
}

.button.secondary {
    background-color: #fff;
    color: #000;
    border: none;
}

.message-area {
    font-size: 16px;
    font-weight: bold;
    padding-top: 30px;
    text-align: center;
    margin-top: 0;
}